<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1000506502502-je2gu2vtn8d09mtl6gtkos08hrj7k3el.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1000506502502-je2gu2vtn8d09mtl6gtkos08hrj7k3el</string>
	<key>API_KEY</key>
	<string>AIzaSyDOiipiKBkMwtQRWEKkv6rp-mN4d1KlodI</string>
	<key>GCM_SENDER_ID</key>
	<string>1000506502502</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterNcsnxthckSustGhle</string>
	<key>PROJECT_ID</key>
	<string>flutter-ncsnxthck-sust-ghle</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-ncsnxthck-sust-ghle.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1000506502502:ios:8fc7e7d0a80d1d07722ca7</string>
</dict>
</plist>